//- Compile this to html and assign it to productDetailsTemplate variable
//- Every product field 'f' is associated to an html id 'product-details-f'.
//- Javascript will fill $(id).html() and we render the good template.
.product-details.ui-corner-all 
  b#product-details-title 
  br
  #product-details-description
  