//- Compile this to html and assign it to productDetailsTemplate variable
//- Every product field 'f' is associated to an html id 'product-details-f'.
//- Javascript will fill $(id).html() and we render the good template.
.product-details.ui-corner-all 
  span#product-details-_id.ui-helper-hidden 
  table
    tr.details-head
      td
        b#product-details-title 
        span#product-details-actions
            input.input.details-mark.ui-widget.ui-corner-all(name='details-mark',id='details-mark',placeholder='0',size="1")        
                |  &nbsp;&nbsp;
            span#mark-action(title='How much will you mark it on 20 points?',onclick='productScore(2,0,0)')
            span#like-action(title='Did you like it  ?',onclick='productScore(1,0,0)')  
            span#unlike-action(title='Something hurts about it ?',onclick='productScore(-1,0,0)') 
            span#signal-action(title='Is this erronous or Bad ?',onclick='productScore(-2,0,0)') 
            span#close-action(title='close',onclick='productDetailsClear()') 
    tr      
      td.details-description(colspan='2')
        #product-details-description
    