!!! 5
html
  head
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')     
    link(rel='stylesheet', href='/stylesheets/jquery-ui.css', type='text/css')
    link(rel='stylesheet/less', type='text/css', href='/stylesheets/style.less')
    script(type='text/javascript', src='/javascripts/less.js')
    script(type='text/javascript', src='/javascripts/jquery.js')   
    script(type='text/javascript', src='http://maps.googleapis.com/maps/api/js?key=AIzaSyCgW7lk0fz_YE5gZj_loz24rrnEECXSHqE&sensor=false')            
    script(type='text/javascript', src='/javascripts/script.js')     
  body
    header 
      table(width="100%")
        tr
          td.header-left
            .invite Towner
            small.motto: i &nbsp; Simplifying our Lifes ...
          td.header-right 
            span#header-username: b #{userName} &nbsp;   
            if isAuthenticated              
              script      
                  $(function() {                        
                        setAuthenticated(true);
                  });
              a#logout-button.button(href='/logout') Logout
            else
              small
                 i  | Login using : 
              each provider in ['google', 'facebook','twitter']
                 | &nbsp;
                 a(href='/auth/'+provider)
                   img(src='http://github.com/intridea/authbuttons/raw/master/png/'+provider+'_32.png')
                 
              
    br
    center#block-content
      block content
    center
      .footer &copy; Guillaume Kpotufe , 
        b Towner labs 
        | (townerlabs@gmail.com), 2012.
    script(type='text/javascript', src='/javascripts/jquery.ui.js')    
    script(type='text/javascript', src='http://malsup.github.com/jquery.form.js')    
    script(type='text/javascript', src='/javascripts/jquery.colorbox.js')    
    script(type='text/javascript', src='http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js')
    script(type='text/javascript', src='http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/additional-methods.min.js')
    //script(type='text/javascript', src='http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/localization/messages_fr.js')     
    link(rel='stylesheet', href='/stylesheets/colorbox.css', type='text/css')
    script      
      $(function() {          
            $( ".button" ).button(); 
            $('body').keyup(function(e){
                if(e.which == 27){
                  $(".product-details").remove(); 
                  console.log("Esc");
                }
        });
      });
    
