!!! 5
html
head
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')    
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js')
    // script(type='text/javascript', src='https://www.google.com/jsapi');
    script(type='text/javascript', src='http://maps.googleapis.com/maps/api/js?key=AIzaSyCgW7lk0fz_YE5gZj_loz24rrnEECXSHqE&sensor=false')            
    script(type='text/javascript', src='/javascripts/script.js')
    link(rel='stylesheet/less', type='text/css', href='/stylesheets/style.less')
    script(type='text/javascript', src='/javascripts/less.js')
     
  body
    header Header
     br
    .content
       block content
    p.footer &copy; Guillaume Kpotufe, Helio labs,2012.
    
