extends layout

block content
    p Welcome .
    p  The map will locate near product.
      small 
        b  Double-click on the map to create a product there.
    #map_canvas    
    .user-actions  
      p.result.ui-widget.ui-widget-content(float='right') 
      br
      br
      br
      p.product-result.ui-widget.ui-widget-content.ui-corner.ui-corner-all 

    script
      window.onload = initialize;
  