extends layout

block content 
  table#towner-main    
    tr
      td
        #actions.blockheader.ui-corner-top
          center
            span.action  Click: 
            small: i Find an element near current position.
            span.action  &nbsp;&nbsp;|&nbsp;&nbsp;  Double-click: 
            small: i Create an element at current position.
            span#quick-create-product(title='Create near current position',onclick='createProductAt()') 
        #map-filters.blockheader.ui-corner-top
          small 
            b  Find :  
            select.select.special-form.ui-widget.ui-corner-all(name='category-filter',id='category-filter',value=productFields[0][2])
              each opt in productFields[0][3]
                 - isSelected = (opt==productFields[0][2])
                 option(value=opt,selected=isSelected)= opt
            b &nbsp; related to :  
            input.input.special-form.ui-widget.ui-corner-all(name='content-filter',id='content-filter',placeholder='type some keywords',size="50")        
            |  &nbsp;&nbsp;
            span#submit-filter(title='Search near current position',onclick='fetchProducts()') &nbsp; 
        #map_canvas              
        .result.blockheader.ui-corner-bottom 
      td.ui-corner-bottom
        #results-header.blockheader.ui-corner-top
          center
            span.action  Click: 
            small: i Show element details.
            span.action  &nbsp;&nbsp;|&nbsp;&nbsp;  Double-click: 
            small: i Edit the element.
        p.product-result 
     
  .ui-helper-hidden
    include includes/saveproduct
  script
      window.onload = initialize 
      $(function() {
            newProductInit();  
            $( "#submit-filter" ).button({text: false,icons: {primary: "ui-icon-search"}});
            $( "#submit-filter" ).button({text: false,icons: {primary: "ui-icon-search"}});
            $( "#quick-create-product" ).button({text: false,icons: {primary: "ui-icon-plus"}});            
      });

  