extends layout

block content 
  table#towner-main    
    tr
      td
        #actions.blockheader.ui-corner-top
          center
            span.action  Click: 
            small: i Find an element near current position.
            span.action  &nbsp;&nbsp;|&nbsp;&nbsp;  Double-click: 
            small: i Create an element at current position.&nbsp;&nbsp;
            span#quick-create-product(title='Create near current position',onclick='createProductAt()') 
        #map-filters.blockheader.ui-corner-top
          small 
            b  Find :  
            select.select.special-form.ui-widget.ui-corner-all(name='category-filter',id='category-filter',value=productFields[0][2])
              each opt in productFields[0][3]
                 - isSelected = (opt==productFields[0][2])
                 option(value=opt,selected=isSelected)= opt
            b &nbsp; related to :  
            input.input.special-form.ui-widget.ui-corner-all(name='content-filter',id='content-filter',placeholder='type some keywords',size="50")        
            |  &nbsp;&nbsp;
            span#submit-filter(title='Search near current position',onclick='fetchProducts()') &nbsp; 
        #map_canvas              
        .result.blockheader.ui-corner-bottom 
      td.ui-corner-bottom
        #results-header.blockheader.ui-corner-top
          center
            span.action  Click: 
            small: i Show element details.
            span.action  &nbsp;&nbsp;|&nbsp;&nbsp;  Double-click: 
            small: i Edit the element.
        p.product-result 
        #paginate-results.blockheader.ui-corner-bottom
          // optional left control buttons 
          nav#paginate_m_left
          nav#paginate_o_left
          .paginator_p_wrap
            .paginator_p_bloc
              //<a class='paginator_p'></a> // page number : dynamically added 
          //optional right control buttons 
          nav#paginate_o_right
          nav#paginate_m_right
          //slider 
          .paginator_slider.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all
            a.ui-slider-handle.ui-state-default.ui-corner-all(href='#')
     
  .ui-helper-hidden
    include includes/saveproduct
  script
      window.onload = initialize 
      $(function() {
            newProductInit();  
            $( "#submit-filter" ).button({text: false,icons: {primary: "ui-icon-search"}});
            $( "#submit-filter" ).button({text: false,icons: {primary: "ui-icon-search"}});
            $( "#quick-create-product" ).button({text: false,icons: {primary: "ui-icon-plus"}}); 
            $("#paginate-results").jPaginator({
              nbPages:20,
              overBtnLeft:'#paginate_o_left',
              overBtnRight:'#paginate_o_right',
              maxBtnLeft:'#paginate_m_left',
              maxBtnRight:'#paginate_m_right',
              onPageClicked: function(a,num) {
                 loadResult(num);
              }
            });
                     
      });

  