p Bienvenu(e) .   
#map_canvas    
center
  p.result.ui-widget.ui-widget-content(float='right') 
  br
  p.product-result.ui-widget.ui-widget-content.ui-corner.ui-corner-all Results:
script
  window.onload = initialize
