//@import url(http://fonts.googleapis.com/css?family=Averia+Serif+Libre);
//@import url(http://fonts.googleapis.com/css?family=Didact+Gothic);
@import url(http://fonts.googleapis.com/css?family=Cutive);
@font-face {
  font-family: 'Foglihten';
  src: url('fonts/FoglihtenNo04-070.otf');
}

@base: #f938ab;

.box-shadow(@style, @c) when (iscolor(@c)) {
  box-shadow:         @style @c;
  -webkit-box-shadow: @style @c;
  -moz-box-shadow:    @style @c;
}
.box-shadow(@style, @alpha: 80%) when (isnumber(@alpha)) {
  .box-shadow(@style, rgba(0, 0, 0, @alpha));
}
.box {   
   .box-shadow(0 0 5px, 30%) ;
}

.border-bottom-clr{
    border-bottom:2px solid #cee3f5;
}

.fonts{
    font-family:'Cutive',verdana, 'Cantarell', serif;
}

html { height: 100% }
body { font-size:10px;height: 100%;font-weight:100; margin: 0; padding: 0 ;.fonts;}
#block-content{margin-right:auto;margin-left:auto;}
header { background-color:#252526;color:white; width:100%;.border-bottom-clr;}
header .header-left{width:75%;
    text-shadow: rgba(153, 154, 158, 0.8) 1px 1px 4px;
    .invite{
        font-family:'verdana'; 
    }
}

header .header-right *{vertical-align:middle;}

#map_canvas {position: relative;left: 0px;top: -35px; height:500px ;width:700px;border:3px solid #000000 ;}
.result {position: relative;left: 0px;top: -37px; float:left;border:2px solid #f2f4f7; }
.footer { margin:0px;padding:3px;font-size:10px;background-color:#cdcfd1}
.motto{}

.product-detail{
     margin-bottom:5px;text-align:left; width:300px;padding:3px;    
}
#map-filters{
    position: relative;
    left: 0px;
    //top: 35px;
    top: -4px;
    background: black;
    opacity:0.75;
    z-index:10;
    border-top:0px solid #222222;
}
.product-result{
    width:550px;
    max-height:550px;
    overflow:auto;
 }
 
.special-form{
    border:5px,solid,#777777;
}
 
.transparency { color: white; background-color: black; opacity: 0.1; z-index: 1000; border: 2px solid white; }
.form-content { padding: 5px; width: 410px; height: 360px; overflow: none; color: white;  
    z-index: 1000; } 
.form-content label { } 
.form-content input, .form-content textarea, .form-content select, .form-content select option { color: black; 
    z-index: 1000; border: 2px solid rgba(68, 68, 68, 0) } 
#dialog-form { color: white; border:12px solid rgba(255, 255, 255, 0.31);
  hr {border-color: #444;} 
}
#dialog-form .dialog-invite { text-align: center;  padding: 0px; 
    div{
        background-color: rgba(255, 255, 255, 0.31);padding-bottom: 5px;
    }
    .closer{
        float:right;
        background-color:rgba(255, 255, 255, 0.4);
    }
}
.invite { padding: 3px; font-size: 20px; letter-spacing: 1px; color: black; font-weight: bold;font-family:'Foglihten' } 
.blockheader { background-color: black; color: white; border: 2px; padding: 5px; } 
.product-details { background-color: black; color: white; border: 2px; padding: 5px; opacity: 0.8;
    position: absolute; top: 135px; left: 105px; z-index: 22; 
    width: 600px; height: 430px; border: 3px solid #3162f5; } 
.header { border-bottom: 1px solid #aaaaaa; } 
#header-username { color: #88a1eb; } 
#towner-main td { vertical-align: top; } 
.error { color: red; margin-left: 2px; font-style: italic; } 
.inline-action { display: inline; } 
.loading { background-image: url('http://googlemaps.mcguy.c9.io/stylesheets/images/loading.gif') no-repeat; } 
.product-result td { border-top: 1px solid #e7e9f0; padding: 2px; } 
.odd-tr { background-color: #ebf0f5; } .active-product { background-color: #eff781; color: red; } 
.product-item { cursor: pointer; } .product-item :hover { color: #0d5ae0; } 
#login-main { margin: 50px; }
.closer{
    color:gray;
    cursor:pointer;
    }
/** Paginator **/    
#paginate_o_left {
    cursor:pointer;
    float:left;
    //background-color:#f7f9fc;
    width:22px; height:15px;
    }
	#paginate_o_right {        
    cursor:pointer;
    //background-color:#f7f9fc;
    float:left;
    width:22px; height:15px;
   	}
	#paginate_m_left {
    float:left;
    //background-color:#f7f9fc;
    cursor:pointer;
    width:22px; height:15px;
   	}
	#paginate_m_right {
    cursor:pointer;
    //background-color:#f7f9fc;
    float:left;
    width:22px; height:15px;
   	}
	/* must set border width with px */
	#paginate-results .paginator_p {
      cursor:pointer;
	  width:25px;
		height:18px;
        font-size:8px;
		font-weight:bold;
		color: #007edf;
		background-color:transparent;
		border:none;
		padding:3px 3px 3px 3px;
	} 
	#paginate-results .paginator_p_bloc {
        margin-bottom: 7px;
	}
	#paginate-results .paginator_p:hover {
		color:white;
		background-color:#25a29e;
	}
	#paginate-results .paginator_p.selected {
		color:white;
		background-color:#dd5c78;
	}
	#paginate-results .paginator_slider {
		background-color:#f2d21b;
		left:3px;        
        height: 3px;
        top:0px;
        
	}
	#paginate-results .paginator_slider .ui-slider-handle {
		width: 9px;
		height: 9px;
		top: -4px;
		background-color:#f18fa8;
		border: solid 1px black ;
	}
.ui-button-icon-only {
    width:1.2em;
    height:1.2em;
}
.details-mark{
    font-size:9px;
}

#product-details-actions{
    margin-left:3px;
}